{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'account:login' %}" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ol>
                {% for error in  form.non_field_errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
        {% endif %}
        <div class="">
            <input type="text" name="username" class="input-text" placeholder="Username" required>
        </div>
        <div class="">
            <input type="password" name="password" class="input-text" placeholder="Password" required>
        </div>
        <div class="">
            <button type="submit" class="">Login</button>
        </div>
    </form>
{% endblock %}

